#header, #footer{
    background-color: silver;
}
.col-sm-12{
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.cloak_of_invisibility{
    visibility: hidden;
}
.adornment{
    text-decoration: underline;
    background-color: hotpink;
}
table {
    border-collapse: collapse;
}

table, th, td {
border: 1px solid black;
}
th, td{
    height: 1em;
    font-size: 1.5em;
}